include README.rst CHANGES.rst LICENSE LICENSE.MIT LICENSE.APACHE2 CONTRIBUTORS.txt dev-requirements.txt Makefile pyproject.toml
recursive-include dummyserver *
recursive-include test *
recursive-include docs *
recursive-exclude docs/_build *
